*{
    font-family: 'Open Sans', sans-serif;
}
/* header and nav styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;

}
.logo{
    font-size: 45px;
    font-weight:800;
}
nav li{
    list-style: none;
    margin-left: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
.text-primary{
    color: #FD6E0A;
}
.primary-button{
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: #fff;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
}
/* Banner */
.banner{
    margin: 0 200px;
    align-items: center;
    display: flex;
}
.banner-title{
    font-size: 85px;
    font-weight: 800;
    margin: 20px 0;
}
.banner-subtitle{
    font-size: 22px;
    margin: 0;
    
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;

}
.section-tile{
   
    margin-bottom: 30px;
    font-weight: 700;

}
.section-description{
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 18px;
    color: #000;
    margin-top: 10px;
}